body, html {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}
label, input, select{
    font-family: 'Open Sans', sans-serif;
    font-size: small;
    
}
select{
    background:ivory;
}

input,select {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 5px;
    margin: 5px;
    background:ivory;
}

.submit {
    background:ivory;
    font-weight: bold;
}

.bg {
    background-image: url(https://images.pexels.com/photos/1612351/pexels-photo-1612351.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.entry-box {
    position: absolute;
    top: 7%;
    right: 7%;
    padding: 32px;
    background: rgba(255,255,255,0.9);

}

.column {
    float: left;
    width: 50%;
  }

  .row{
      margin-right: 0 ;
      margin-left: 0 ;
  }

  .text-area {
    position: absolute;
    top: 7%;
    left: 7%;
    padding: 32px;
    color: #fff;
  }

.row:after {
    content: "";
    display: table;
    clear: both;
  }

.dropdown {
    width: 100px;
    margin-left: 10px;
}

